*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.item-container{
    width: 310px;
    height: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px grey;
    margin: 20px 15.5px;
}
.item-container>h2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    font-size: 24px;
    margin: 6px 0 0 0;
    padding: 0 10px;
}
.item-container>img{
    
    margin: 10px 0;
    width: 100px;
}
.item-container>h4{
    position: relative;
    top: 10px;
    font-size: 20px;
}
.item-container>h5{
    position: relative;
    top: 10px;
    font-size: 15px;
    margin: 4px 0;
}